In [1]:
import pandas as pd
from datetime import datetime, timedelta
import datetime

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

# 852 Prepare

In [4]:
df852 = pd.read_parquet('EDI 852.parquet')

In [5]:
df852.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4220097 entries, 0 to 4220096
Data columns (total 74 columns):
 #   Column                               Dtype
---  ------                               -----
 0   acnt_dataq_340b_flg                  object
 1   acnt_dataq_340b_stat                 object
 2   acnt_hrsa_mef_flg                    object
 3   acnt_mn_cot_cd                       object
 4   avg_sls                              object
 5   brd_cd                               object
 6   brd_nm                               object
 7   created_by                           object
 8   created_ts                           object
 9   dock_sls                             object
 10  doh                                  object
 11  eff_inv                              object
 12  form_strg_cd                         object
 13  form_strg_nm                         object
 14  inv_dt                               object
 15  inv_dt_sk                            object
 16  lost_sls                             object
 17  modified_by                          object
 18  modified_ts                          object
 19  ndc                                  object
 20  ndc_nm                               object
 21  neg_adj                              object
 22  net_qty_sold                         object
 23  prod_340b_ceil_pric                  object
 24  prod_sk                              object
 25  qty_adj                              object
 26  qty_avbl                             object
 27  qty_cmt                              object
 28  qty_in_mrg                           object
 29  qty_in_trans                         object
 30  qty_omit                             object
 31  qty_on_hand                          object
 32  qty_on_hld                           object
 33  qty_ord                              object
 34  qty_received                         object
 35  qty_reqst                            object
 36  qty_sold                             object
 37  qty_trans_in                         object
 38  qty_xref_out                         object
 39  rtn_inv                              object
 40  rtn_mrg                              object
 41  ship_from_acnt_addr_ln_1             object
 42  ship_from_acnt_addr_ln_2             object
 43  ship_from_acnt_addr_ln_3             object
 44  ship_from_acnt_addr_ln_4             object
 45  ship_from_acnt_city                  object
 46  ship_from_acnt_cls_cd                object
 47  ship_from_acnt_cls_cd_desc           object
 48  ship_from_acnt_cls_sub_type_cd       object
 49  ship_from_acnt_cls_sub_type_cd_desc  object
 50  ship_from_acnt_cls_type_cd           object
 51  ship_from_acnt_cls_type_cd_desc      object
 52  ship_from_acnt_entrp_id              object
 53  ship_from_acnt_nm                    object
 54  ship_from_acnt_sk                    object
 55  ship_from_acnt_type_cd               object
 56  ship_from_acnt_type_desc             object
 57  ship_from_acnt_zip                   object
 58  ship_from_dea_hin_cust_id            object
 59  src_brd_nm                           object
 60  src_distr_cntr_city                  object
 61  src_distr_cntr_st                    object
 62  src_dsg_desc                         object
 63  src_form_strg                        object
 64  src_pack_size                        object
 65  src_pkg_desc                         object
 66  src_prod_id                          object
 67  src_ship_from_jnr_prnt_nm            object
 68  src_trd_ptnr_nm                      object
 69  svc_lvl                              object
 70  ttl_sls_qty                          object
 71  whlsl_sls_qty                        object
 72  pt_data_dt                           object
 73  pt_cycle_id                          object
dtypes: object(74)
memory usage: 2.3+ GB

In [6]:
df852.head(1)

,acnt_dataq_340b_flg,acnt_dataq_340b_stat,acnt_hrsa_mef_flg,acnt_mn_cot_cd,avg_sls,brd_cd,brd_nm,created_by,created_ts,dock_sls,doh,eff_inv,form_strg_cd,form_strg_nm,inv_dt,inv_dt_sk,lost_sls,modified_by,modified_ts,ndc,ndc_nm,neg_adj,net_qty_sold,prod_340b_ceil_pric,prod_sk,qty_adj,qty_avbl,qty_cmt,qty_in_mrg,qty_in_trans,qty_omit,qty_on_hand,qty_on_hld,qty_ord,qty_received,qty_reqst,qty_sold,qty_trans_in,qty_xref_out,rtn_inv,rtn_mrg,ship_from_acnt_addr_ln_1,ship_from_acnt_addr_ln_2,ship_from_acnt_addr_ln_3,ship_from_acnt_addr_ln_4,ship_from_acnt_city,ship_from_acnt_cls_cd,ship_from_acnt_cls_cd_desc,ship_from_acnt_cls_sub_type_cd,ship_from_acnt_cls_sub_type_cd_desc,ship_from_acnt_cls_type_cd,ship_from_acnt_cls_type_cd_desc,ship_from_acnt_entrp_id,ship_from_acnt_nm,ship_from_acnt_sk,ship_from_acnt_type_cd,ship_from_acnt_type_desc,ship_from_acnt_zip,ship_from_dea_hin_cust_id,src_brd_nm,src_distr_cntr_city,src_distr_cntr_st,src_dsg_desc,src_form_strg,src_pack_size,src_pkg_desc,src_prod_id,src_ship_from_jnr_prnt_nm,src_trd_ptnr_nm,svc_lvl,ttl_sls_qty,whlsl_sls_qty,pt_data_dt,pt_cycle_id
0,None,None,None,None,0.132,BR024V,VIREAD PED,default,2024-07-10 09:59:02.591,0.000,60.667,8.000,024E,VIREAD INTPWR 40MG/SCOOP,2021-02-26,7856189b2e11e16fc7db1e0c0a924c7e,0.000,None,None,61958040301,"VIREAD,PWD SUSP,40MG/GM,60GM 0403-01",0.000,0.000,320.830,e716e0bc45d6e4772c9df9b5c7760fb7,0.000,8.000,0.000,0.000,0.000,0.000,8.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,None,None,None,None,None,None,None,None,None,None,None,TMP_UNASSIGNED,TMP_UNASSIGNED,0,None,None,None,RA0336924,VIREAD POWDER,BETHLEHEM,PA,VIREAD POWDER 60gm,60gm,1 (BOT),VIREAD POWDER 60gm x 1 (BOT),61958040301,AMERISOURCEBERGEN CORPORATION,AMERISOURCEBERGEN CORPORATION,0E-8,0.000,None,20240710,2024071009120772786

In [7]:
df852 = df852.rename(columns={
    'ndc': 'NDC',
    'inv_dt': 'INV_DT',
    'brd_nm': 'BRD_NM',
    'src_ship_from_jnr_prnt_nm': 'SRC_SHIP_FROM_JNR_PRNT_NM',
    'src_trd_ptnr_nm': 'SRC_TRD_PTNR_NM',
    'src_pkg_desc': 'SRC_PKG_DESC',
    'qty_sold': 'QTY_SOLD'
})

# Define a dictionary for the data type conversions
dtype_changes = {
    'INV_DT': 'datetime64[ns]',
    'NDC': str,
    'BRD_NM': str,
    'SRC_SHIP_FROM_JNR_PRNT_NM': str,
    'SRC_TRD_PTNR_NM': str,
    'SRC_PKG_DESC': str,
    'QTY_SOLD': float
}

# Apply the changes to the dataframe
df852 = df852.astype(dtype_changes)

# Convert the INV_DT to datetime explicitly as pd.to_datetime handles it better
df852['INV_DT'] = pd.to_datetime(df852['INV_DT'])

In [8]:
df852.head(1)

,acnt_dataq_340b_flg,acnt_dataq_340b_stat,acnt_hrsa_mef_flg,acnt_mn_cot_cd,avg_sls,brd_cd,BRD_NM,created_by,created_ts,dock_sls,doh,eff_inv,form_strg_cd,form_strg_nm,INV_DT,inv_dt_sk,lost_sls,modified_by,modified_ts,NDC,ndc_nm,neg_adj,net_qty_sold,prod_340b_ceil_pric,prod_sk,qty_adj,qty_avbl,qty_cmt,qty_in_mrg,qty_in_trans,qty_omit,qty_on_hand,qty_on_hld,qty_ord,qty_received,qty_reqst,QTY_SOLD,qty_trans_in,qty_xref_out,rtn_inv,rtn_mrg,ship_from_acnt_addr_ln_1,ship_from_acnt_addr_ln_2,ship_from_acnt_addr_ln_3,ship_from_acnt_addr_ln_4,ship_from_acnt_city,ship_from_acnt_cls_cd,ship_from_acnt_cls_cd_desc,ship_from_acnt_cls_sub_type_cd,ship_from_acnt_cls_sub_type_cd_desc,ship_from_acnt_cls_type_cd,ship_from_acnt_cls_type_cd_desc,ship_from_acnt_entrp_id,ship_from_acnt_nm,ship_from_acnt_sk,ship_from_acnt_type_cd,ship_from_acnt_type_desc,ship_from_acnt_zip,ship_from_dea_hin_cust_id,src_brd_nm,src_distr_cntr_city,src_distr_cntr_st,src_dsg_desc,src_form_strg,src_pack_size,SRC_PKG_DESC,src_prod_id,SRC_SHIP_FROM_JNR_PRNT_NM,SRC_TRD_PTNR_NM,svc_lvl,ttl_sls_qty,whlsl_sls_qty,pt_data_dt,pt_cycle_id
0,None,None,None,None,0.132,BR024V,VIREAD PED,default,2024-07-10 09:59:02.591,0.000,60.667,8.000,024E,VIREAD INTPWR 40MG/SCOOP,2021-02-26,7856189b2e11e16fc7db1e0c0a924c7e,0.000,None,None,61958040301,"VIREAD,PWD SUSP,40MG/GM,60GM 0403-01",0.000,0.000,320.830,e716e0bc45d6e4772c9df9b5c7760fb7,0.000,8.000,0.000,0.000,0.000,0.000,8.000,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,None,None,None,None,None,None,None,None,None,None,None,TMP_UNASSIGNED,TMP_UNASSIGNED,0,None,None,None,RA0336924,VIREAD POWDER,BETHLEHEM,PA,VIREAD POWDER 60gm,60gm,1 (BOT),VIREAD POWDER 60gm x 1 (BOT),61958040301,AMERISOURCEBERGEN CORPORATION,AMERISOURCEBERGEN CORPORATION,0E-8,0.000,None,20240710,2024071009120772786

In [9]:
# Group by the specified fields and aggregate QTY_SOLD by summing it
df852_grouped = df852.groupby([
    'SRC_TRD_PTNR_NM', 
    'SRC_SHIP_FROM_JNR_PRNT_NM', 
    'BRD_NM', 
    'NDC', 
    'SRC_PKG_DESC', 
    'INV_DT'
]).agg({'QTY_SOLD': 'sum'}).reset_index()

# Rename the aggregated column
df852_grouped = df852_grouped.rename(columns={'QTY_SOLD': 'Sum_QTY_SOLD'})

In [10]:
#df852_grouped.info()

In [11]:
#df852_grouped.head(1)

In [12]:
df852_grouped = df852_grouped[df852_grouped['Sum_QTY_SOLD'] != 0]
df852_grouped

,SRC_TRD_PTNR_NM,SRC_SHIP_FROM_JNR_PRNT_NM,BRD_NM,NDC,SRC_PKG_DESC,INV_DT,Sum_QTY_SOLD
3,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2021-01-04,1.0
4,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2021-01-05,2.0
5,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2021-01-06,2.0
10,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2021-01-11,1.0
11,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2021-01-12,2.0
...,...,...,...,...,...,...,...
482429,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-06-25,1.0
482430,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-06-26,1.0
482431,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-06-27,2.0
482436,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-07-02,4.0
482439,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-07-05,1.0

In [13]:
# Step 1: Keep the transactions where INV_DT is greater than 01/01/2023
df852_filtered = df852_grouped[df852_grouped['INV_DT'] >= '2023-01-01'].copy()  # .copy() to avoid the warning
df852_filtered

,SRC_TRD_PTNR_NM,SRC_SHIP_FROM_JNR_PRNT_NM,BRD_NM,NDC,SRC_PKG_DESC,INV_DT,Sum_QTY_SOLD
728,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2023-01-03,6.0
729,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2023-01-04,3.0
730,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2023-01-05,2.0
734,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2023-01-09,3.0
736,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,CAYSTON 75mg x 84 (VIAL) SD,2023-01-11,4.0
...,...,...,...,...,...,...,...
482429,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-06-25,1.0
482430,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-06-26,1.0
482431,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-06-27,2.0
482436,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-07-02,4.0
482439,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,LETAIRIS 10mg x 30 (BOT),2024-07-05,1.0

In [14]:
# Step 2: Change the INV_DT of every transaction to its previous Monday’s date
def get_previous_monday(date):
    # If the day is Monday, keep it as is; otherwise, subtract days to get the previous Monday
    return date - timedelta(days=date.weekday())

In [15]:

from datetime import timedelta

# Assuming df852_grouped is the name of your dataframe
df852_grouped = df852_grouped[df852_grouped['Sum_QTY_SOLD'] != 0]


# Step 1: Keep the transactions where INV_DT is greater than 01/01/2023
df852_filtered = df852_grouped[df852_grouped['INV_DT'] >= '2023-01-01'].copy()  # .copy() to avoid the warning

# Step 2: Change the INV_DT of every transaction to its previous Monday’s date
def get_previous_monday(date):
    # If the day is Monday, keep it as is; otherwise, subtract days to get the previous Monday
    return date - timedelta(days=date.weekday())

# Apply the function to change every INV_DT to the previous Monday
df852_filtered.loc[:, 'INV_DT'] = df852_filtered['INV_DT'].apply(get_previous_monday)

In [16]:
# Group by the specified fields and sum the 'Sum_QTY_SOLD'
df852_final_grouped = df852_filtered.groupby([
    'SRC_SHIP_FROM_JNR_PRNT_NM', 
    'INV_DT', 
    'NDC', 
    'SRC_PKG_DESC'
]).agg({'Sum_QTY_SOLD': 'sum'}).reset_index()

In [17]:
df852_final_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18224 entries, 0 to 18223
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SRC_SHIP_FROM_JNR_PRNT_NM  18224 non-null  object
 1   INV_DT                     18224 non-null  datetime64[ns]
 2   NDC                        18224 non-null  object
 3   SRC_PKG_DESC               18224 non-null  object
 4   Sum_QTY_SOLD               18224 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 712.0+ KB

In [18]:
df852_final_grouped.head(1)

,SRC_SHIP_FROM_JNR_PRNT_NM,INV_DT,NDC,SRC_PKG_DESC,Sum_QTY_SOLD
0,ACARIAHEALTH PHARMACY,2022-12-26,61958080101,LETAIRIS 5mg x 30 (BOT),2.0

In [19]:
# Update the transactions where SRC_SHIP_FROM_JNR_PRNT_NM is "CARDINAL BROKERAGE" to "CARDINAL HEALTH"
df852_final_grouped.loc[df852_final_grouped['SRC_SHIP_FROM_JNR_PRNT_NM'] == 'CARDINAL BROKERAGE', 'SRC_SHIP_FROM_JNR_PRNT_NM'] = 'CARDINAL HEALTH'
#df852_final_grouped

In [20]:
# Define the list of valid SRC_SHIP_FROM_JNR_PRNT_NM values
valid_values = [
    "ACARIAHEALTH PHARMACY", "ACCREDO HEALTH", "AMERISOURCEBERGEN CORPORATION", "ASD SPECIALTY", 
    "AVELLA SPECIALTY PHARMACY", "BIOLOGICS", "BORSCHOW", "BRIOVARX", "CARDINAL HEALTH", 
    "CARDINAL SPECIALTY", "CAREMARKRX", "CAREMARKRX - SPECIALTY", "CURASCRIPT - SPECIALTY", 
    "DIPLOMAT SPECIALTY PHARMACY", "ECHO PHARMACY (NY)", "EXACTUS PHARMACY SOLUTIONS", 
    "FOUNDATION CARE", "HUMANA", "IV SOLUTIONS (TX)", "KINRAY", "KROGER SPECIALTY", 
    "MCKESSON CORPORATION", "MCKESSON PLASMA AND BIOLOGICS (LA VERGNE, TN)", 
    "MCKESSON SPECIALTY HEALTH (OTN)", "MISSION ROAD PHARMACY (CA)", "NAVARRO DISCOUNT DRUG", 
    "ONCOLOGY SUPPLY", "ONCOMED", "OPTUMRX", "PARMED PHARMACEUTICALS", "PHARMACARE CAREPLUS", 
    "PHARMACEUTICAL SPECIALITIES INC.", "THERACOM", "TLCRX PHARMACY", 
    "WALGREENS HEALTH INITIATIVES", "MORRIS & DICKSON LLC"
]

# Filter the dataframe to keep only rows where SRC_SHIP_FROM_JNR_PRNT_NM is in the list of valid values
df852_filtered_final = df852_final_grouped[df852_final_grouped['SRC_SHIP_FROM_JNR_PRNT_NM'].isin(valid_values)]

In [21]:
# Verify the result
df852_filtered_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17526 entries, 0 to 18223
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SRC_SHIP_FROM_JNR_PRNT_NM  17526 non-null  object
 1   INV_DT                     17526 non-null  datetime64[ns]
 2   NDC                        17526 non-null  object
 3   SRC_PKG_DESC               17526 non-null  object
 4   Sum_QTY_SOLD               17526 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 821.5+ KB

In [22]:
# Find the maximum value of INV_DT
max_week_start_date = df852_filtered_final['INV_DT'].max()

# Define the 14-day threshold date
threshold_date = max_week_start_date - pd.Timedelta(days=14)

# Remove all transactions that fall within 14 days of the maximum week start date
df852_final_result = df852_filtered_final[df852_filtered_final['INV_DT'] < threshold_date]

In [23]:
max_week_start_date

Timestamp('2024-07-08 00:00:00')

In [24]:
threshold_date

Timestamp('2024-06-24 00:00:00')

In [25]:
df852_final_result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16991 entries, 0 to 18215
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SRC_SHIP_FROM_JNR_PRNT_NM  16991 non-null  object
 1   INV_DT                     16991 non-null  datetime64[ns]
 2   NDC                        16991 non-null  object
 3   SRC_PKG_DESC               16991 non-null  object
 4   Sum_QTY_SOLD               16991 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 796.5+ KB

In [26]:
# Verify the result
df852_final_result.head(1)
# df852_final_result.to_csv('df852_final_result.csv', index=False)

,SRC_SHIP_FROM_JNR_PRNT_NM,INV_DT,NDC,SRC_PKG_DESC,Sum_QTY_SOLD
0,ACARIAHEALTH PHARMACY,2022-12-26,61958080101,LETAIRIS 5mg x 30 (BOT),2.0

In [27]:
# Group by the specified fields and aggregate 'Sum_QTY_SOLD'
df852_final_grouped_result = df852_final_result.groupby([
    'SRC_SHIP_FROM_JNR_PRNT_NM', 
    'INV_DT', 
    'NDC', 
    'SRC_PKG_DESC'
]).agg({'Sum_QTY_SOLD': 'sum'}).reset_index()

In [28]:
# Verify the result by displaying the first few rows
df852_final_grouped_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16779 entries, 0 to 16778
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SRC_SHIP_FROM_JNR_PRNT_NM  16779 non-null  object
 1   INV_DT                     16779 non-null  datetime64[ns]
 2   NDC                        16779 non-null  object
 3   SRC_PKG_DESC               16779 non-null  object
 4   Sum_QTY_SOLD               16779 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 655.6+ KB

In [29]:
df852_final_grouped_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16779 entries, 0 to 16778
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SRC_SHIP_FROM_JNR_PRNT_NM  16779 non-null  object
 1   INV_DT                     16779 non-null  datetime64[ns]
 2   NDC                        16779 non-null  object
 3   SRC_PKG_DESC               16779 non-null  object
 4   Sum_QTY_SOLD               16779 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 655.6+ KB

# DNA

In [31]:
# Trade DQM DNA
# DNA = pd.read_csv('Trade DQM DNA.csv', dtype={19: str, 20: str, 28: str})

In [32]:
select1999 = [
    'src_ship_from_jnr_prnt_nm',
    'brd_nm',
    'wk_strt_dt',
    'qty_sold_pu',
    'src_trd_ptnr_nm',
    'ndc_nm',
    'ndc',
    'trans_type'
]

# Load the CSV file, reading only the specified columns
DNA = pd.read_csv('Trade DQM DNA.csv', usecols=select1999)

In [33]:
DNA.head()

,brd_nm,ndc,ndc_nm,qty_sold_pu,src_ship_from_jnr_prnt_nm,src_trd_ptnr_nm,trans_type,wk_strt_dt
0,COMPLERA,61958110101,"COMPLERA,TAB FC,200-25-300MG,30 1101-01",1.0,AMERISOURCEBERGEN CORPORATION,AMERISOURCEBERGEN CORPORATION,SALES,2024-03-20
1,COMPLERA,61958110101,"COMPLERA,TAB FC,200-25-300MG,30 1101-01",1.0,MCKESSON CORPORATION,MCKESSON CORPORATION,SALES,2017-10-25
2,BIKTARVY,61958250101,"BIKTARVY, TAB FC, 50-200-25MG, 30 2501-01",1.0,MORRIS & DICKSON LLC,MORRIS & DICKSON LLC,SALES,2023-06-25
3,VEMLIDY,61958230101,VEMLIDY TAB FC 25MG,53.0,AMERISOURCEBERGEN CORPORATION,AMERISOURCEBERGEN CORPORATION,SALES,2019-02-18
4,BIKTARVY,61958250101,"BIKTARVY, TAB FC, 50-200-25MG, 30 2501-01",10.0,CARDINAL HEALTH,CARDINAL HEALTH,SALES,2021-06-11

In [34]:
filter197 = DNA[DNA['trans_type'] == 'SALES']
filter197 = filter197.drop(columns=['trans_type'])

In [35]:
filter197.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1169293 entries, 0 to 1220300
Data columns (total 7 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   brd_nm                     1169293 non-null  object
 1   ndc                        1169293 non-null  int64
 2   ndc_nm                     1169293 non-null  object
 3   qty_sold_pu                1169293 non-null  float64
 4   src_ship_from_jnr_prnt_nm  1169293 non-null  object
 5   src_trd_ptnr_nm            1169293 non-null  object
 6   wk_strt_dt                 1169293 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 71.4+ MB

In [36]:
group198 = filter197.groupby([
    'src_trd_ptnr_nm',
    'src_ship_from_jnr_prnt_nm',
    'brd_nm',
    'ndc',
    'wk_strt_dt',
    'ndc_nm'  # Corresponds to 'SRC_PACK_DESC' in the output field name
]).agg(
    Sum_qty_sold_pu=('qty_sold_pu', 'sum')  # Sum aggregation for 'qty_sold_pu'
).reset_index()

group198 = group198[group198['Sum_qty_sold_pu'] != 0]
group198 = group198[group198['wk_strt_dt'] >='2023-01-01']

In [37]:
from datetime import datetime, timedelta
group198['wk_strt_dt'] = pd.to_datetime(group198['wk_strt_dt'])

# Get today's date and subtract one year, and set the date to January 1st of that year
# last_year_start = 

# Apply the filter
group198 = group198[group198['wk_strt_dt'] >= datetime(datetime.today().year - 1, 1, 1)]

In [38]:
group198.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32622 entries, 20 to 141561
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   src_trd_ptnr_nm            32622 non-null  object
 1   src_ship_from_jnr_prnt_nm  32622 non-null  object
 2   brd_nm                     32622 non-null  object
 3   ndc                        32622 non-null  int64
 4   wk_strt_dt                 32622 non-null  datetime64[ns]
 5   ndc_nm                     32622 non-null  object
 6   Sum_qty_sold_pu            32622 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 2.0+ MB

In [39]:
from datetime import timedelta

def datetime_add_logic(wk_strt_dt):
    # Extract the day of the week (Monday = 0, Sunday = 6)
    day_of_week = wk_strt_dt.weekday()  # Monday is 0, Sunday is 6 in Python

    # Calculate how many days we need to subtract to get the previous Monday
    days_to_subtract = day_of_week  # Monday (0) means subtract 0, Tuesday (1) means subtract 1, etc.
    
    # Return the date for the Monday of that week
    return wk_strt_dt - timedelta(days=days_to_subtract)

# Apply the function to create a new column
group198['new_wk_strt_dt'] = group198['wk_strt_dt'].apply(datetime_add_logic)

In [40]:
group198

,src_trd_ptnr_nm,src_ship_from_jnr_prnt_nm,brd_nm,ndc,wk_strt_dt,ndc_nm,Sum_qty_sold_pu,new_wk_strt_dt
20,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,2023-01-09,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",4.0,2023-01-09
21,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,2023-01-17,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",8.0,2023-01-16
22,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,2023-01-18,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",16.0,2023-01-16
23,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,2023-02-21,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",16.0,2023-02-20
24,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,CAYSTON,61958090101,2023-04-04,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",8.0,2023-04-03
...,...,...,...,...,...,...,...,...
141557,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,2024-07-03,"LETAIRIS,TAB FC,10MG,30 0802-01",3.0,2024-07-01
141558,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,2024-07-09,"LETAIRIS,TAB FC,10MG,30 0802-01",2.0,2024-07-08
141559,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,2024-07-16,"LETAIRIS,TAB FC,10MG,30 0802-01",4.0,2024-07-15
141560,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,2024-07-29,"LETAIRIS,TAB FC,10MG,30 0802-01",2.0,2024-07-29
141561,WALGREENS,WALGREENS HEALTH INITIATIVES,LETAIRIS,61958080201,2024-08-19,"LETAIRIS,TAB FC,10MG,30 0802-01",1.0,2024-08-19

In [41]:
group7 = group198.groupby([
    'src_trd_ptnr_nm',      # Group by SRC_TRD_PTNR_NM
    'src_ship_from_jnr_prnt_nm',  # Group by SRC_SHIP_FROM_JNR_PRNT_NM
    'new_wk_strt_dt',           # Group by WK_STRT_DT
    'brd_nm',               # Group by BRD_NM
    'ndc',                  # Group by NDC
    'ndc_nm'         # Group by SRC_PACK_DESC
], as_index=False).agg({
    'Sum_qty_sold_pu': 'sum'   # Sum the Sum_QTY_SOLD column
})

# Display the grouped result
group7 = group7.rename(columns={
    'ndc_nm': 'src_pack_desc',         # Rename NDC_NM to src_pack_desc
    'new_wk_strt_dt': 'wk_strt_dt'     # Rename new_wk_strt_dt to wk_strt_dt
})
group7

,src_trd_ptnr_nm,src_ship_from_jnr_prnt_nm,wk_strt_dt,brd_nm,ndc,src_pack_desc,Sum_qty_sold_pu
0,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-01-09,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",4.0
1,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-01-16,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",24.0
2,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-01-16,LETAIRIS,61958080201,"LETAIRIS,TAB FC,10MG,30 0802-01",24.0
3,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-02-20,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",16.0
4,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-03-13,CAYSTON Handset,83490067805,CAYSTON Handset,8.0
...,...,...,...,...,...,...,...
10620,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-08-05,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",18.0
10621,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-08-12,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",8.0
10622,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-08-19,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",18.0
10623,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-08-19,CAYSTON Handset,83490067805,CAYSTON Handset,8.0
10624,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-08-19,LETAIRIS,61958080201,"LETAIRIS,TAB FC,10MG,30 0802-01",1.0

In [42]:
# Assuming df is your DataFrame
# Create the "Big 3 Flag" field based on the logic
def big_3_flag(row):
    # Check the conditions for SRC_TRD_PTNR_NM and BRD_NM
    if (
        row['src_trd_ptnr_nm'] in ['AMERISOURCEBERGEN CORPORATION', 'CARDINAL HEALTH', 'MCKESSON CORPORATION', 'MORRIS & DICKSON LLC']
    ):
        return 1
    elif row['brd_nm'] in ['CAYSTON', 'LETAIRIS', 'ZYDELIG']:
        return 1
    else:
        return 0

# Apply the function to create the new column
group7['Big_3_Flag'] = group7.apply(big_3_flag, axis=1)

# Filter rows where Big_3_Flag is not equal to 0
filter180 = group7[group7['Big_3_Flag'] != 0]

In [43]:
filter180

,src_trd_ptnr_nm,src_ship_from_jnr_prnt_nm,wk_strt_dt,brd_nm,ndc,src_pack_desc,Sum_qty_sold_pu,Big_3_Flag
0,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-01-09,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",4.0,1
1,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-01-16,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",24.0,1
2,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-01-16,LETAIRIS,61958080201,"LETAIRIS,TAB FC,10MG,30 0802-01",24.0,1
3,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-02-20,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",16.0,1
6,ACARIAHEALTH PHARMACY,ACARIAHEALTH PHARMACY,2023-04-03,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",8.0,1
...,...,...,...,...,...,...,...,...
10619,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-07-29,LETAIRIS,61958080201,"LETAIRIS,TAB FC,10MG,30 0802-01",2.0,1
10620,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-08-05,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",18.0,1
10621,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-08-12,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",8.0,1
10622,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-08-19,CAYSTON,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",18.0,1
10624,WALGREENS,WALGREENS HEALTH INITIATIVES,2024-08-19,LETAIRIS,61958080201,"LETAIRIS,TAB FC,10MG,30 0802-01",1.0,1

In [44]:
# Perform the group-by operation
group81 = filter180.groupby([
    'src_ship_from_jnr_prnt_nm',  # Group by src_ship_from_jnr_prnt_nm
    'wk_strt_dt',                 # Group by wk_strt_dt
    'ndc',                        # Group by ndc
    'src_pack_desc'               # Group by src_pack_desc
], as_index=False).agg({
    'Sum_qty_sold_pu': 'sum'         # Sum the sum_qty_sold column
})

# Sort by wk_strt_dt in descending order
group81 = group81.sort_values(by='wk_strt_dt', ascending=False)


group81 = group81.rename(columns={
    'Sum_qty_sold_pu': 'Sum_Sum_QTY_SOLD',         # Rename NDC_NM to src_pack_desc
         # Rename new_wk_strt_dt to wk_strt_dt
})
group81

,src_ship_from_jnr_prnt_nm,wk_strt_dt,ndc,src_pack_desc,Sum_Sum_QTY_SOLD
9854,WALGREENS HEALTH INITIATIVES,2024-08-19,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",18.0
2833,BORSCHOW,2024-08-19,61958190101,"GENVOYA,TAB FC,150-150-200-10MG,30 1901-01",8.0
6243,KINRAY,2024-08-19,61958070101,"TRUVADA,TAB FC,200-300MG,5 0701",3.0
9456,MORRIS & DICKSON LLC,2024-08-19,61958250101,"BIKTARVY, TAB FC, 50-200-25MG, 30 2501-01",126.0
8472,"MCKESSON PLASMA AND BIOLOGICS (LA VERGNE, TN)",2024-08-19,55135013201,Trodelvy Vial,304.0
...,...,...,...,...,...
2907,CARDINAL HEALTH,2023-01-02,61958140101,"TYBOST,TAB FC,150MG,30 1401-01",1.0
2908,CARDINAL HEALTH,2023-01-02,61958180101,"HARVONI,TAB FC,90-400MG,28 1801-01",3.0
2909,CARDINAL HEALTH,2023-01-02,61958190101,"GENVOYA,TAB FC,150-150-200-10MG,30 1901-01",850.0
2910,CARDINAL HEALTH,2023-01-02,61958200201,"DESCOVY,TAB FC,200MG-25MG,30 2002-01",1723.0
5184,KINRAY,2023-01-02,61958200201,"DESCOVY,TAB FC,200MG-25MG,30 2002-01",39.0

# JOIN

In [46]:
right_df=df852_final_grouped_result
left_df=group81

In [47]:
right_df.rename(columns={'NDC': 'ndc'}, inplace=True)

In [48]:
# Convert 'ndc' column in both DataFrames to string type for consistency
left_df['ndc'] = left_df['ndc'].astype(str)
right_df['ndc'] = right_df['ndc'].astype(str)

# Convert all column names in both DataFrames to lowercase
left_df.columns = left_df.columns.str.lower()
right_df.columns = right_df.columns.str.lower()

# Left Unjoin: Rows only in left_df
left_unjoin_df = left_df.merge(
    right_df[['ndc', 'inv_dt', 'src_ship_from_jnr_prnt_nm', 'src_pkg_desc']],
    how='left', 
    left_on=['ndc', 'wk_strt_dt', 'src_ship_from_jnr_prnt_nm', 'src_pack_desc'],
    right_on=['ndc', 'inv_dt', 'src_ship_from_jnr_prnt_nm', 'src_pkg_desc'],
    indicator=True
).query('_merge == "left_only"').drop(columns=['inv_dt', '_merge'])

# Right Unjoin: Rows only in right_df
right_unjoin_df = right_df.merge(
    left_df[['ndc', 'wk_strt_dt', 'src_ship_from_jnr_prnt_nm', 'src_pack_desc']],
    how='left', 
    left_on=['ndc', 'inv_dt', 'src_ship_from_jnr_prnt_nm', 'src_pkg_desc'],
    right_on=['ndc', 'wk_strt_dt', 'src_ship_from_jnr_prnt_nm', 'src_pack_desc'],
    indicator=True
).query('_merge == "left_only"').drop(columns=['wk_strt_dt', '_merge'])

# Inner Join: Rows that match between left_df and right_df
inner_join_df = pd.merge(
    left_df, right_df,
    left_on=['ndc', 'wk_strt_dt', 'src_ship_from_jnr_prnt_nm', 'src_pack_desc'],
    right_on=['ndc', 'inv_dt', 'src_ship_from_jnr_prnt_nm', 'src_pkg_desc'],
    how='inner',
    suffixes=('', '_right')
)

# # Renaming columns for consistency (already in lowercase)
# left_unjoin_df.rename(columns={
#     'wk_strt_dt': 'week_start_date',
#     'src_ship_from_jnr_prnt_nm': 'account_name',
#     'ndc': 'ndc',
#     'sum_sum_qty_sold': 'sum_sum_qty_sold',
#     'src_pack_desc': 'form_strength'
# }, inplace=True)

# right_unjoin_df.rename(columns={
#     'inv_dt': 'week_start_date',
#     'src_ship_from_jnr_prnt_nm': 'account_name',
#     'ndc': 'ndc',
#     'sum_qty_sold': 'sum_quantity_shipped',
#     'src_pkg_desc': 'form_strength'
# }, inplace=True)

# inner_join_df.rename(columns={
#     'wk_strt_dt': 'week_start_date',
#     'src_ship_from_jnr_prnt_nm': 'account_name',
#     'ndc': 'ndc',
#     'sum_sum_qty_sold': 'sum_sum_qty_sold',
#     'src_pack_desc': 'form_strength',
#     'inv_dt': 'right_week_start_date',
#     'sum_qty_sold': 'right_sum_quantity_shipped'
# }, inplace=True)

In [49]:
# left_unjoin_df

# Left Block

In [51]:

count = left_unjoin_df['src_ship_from_jnr_prnt_nm'].count()  # Count of 'Account Name' (now lowercase)
sum_sum_qty_sold_total = left_unjoin_df['sum_sum_qty_sold'].sum()  # Sum of 'Sum_Sum_QTY_SOLD'

# Create a new DataFrame with these values
group25 = pd.DataFrame({
    'Count': [count],  # Naming column 'Count' as per your required format
    'Sum_Sum_Sum_QTY_SOLD': [sum_sum_qty_sold_total]  # Sum of the quantities
})

In [52]:
group25

   Count  Sum_Sum_Sum_QTY_SOLD
0   9855             2213104.0

In [53]:
TotalRecords = group81['src_ship_from_jnr_prnt_nm'].count()  # Count of 'Account Name' (now lowercase)
AllRecordssum_sum_sum_qty_sold_total = group81['sum_sum_qty_sold'].sum()  # Sum of 'Sum_Sum_QTY_SOLD'


# Create a new DataFrame with these values
group32 = pd.DataFrame({
    'TotalRecords': [TotalRecords],  # Naming column 'Count' as per your required format
    'AllRecordssum_sum_sum_qty_sold_total': [AllRecordssum_sum_sum_qty_sold_total]  # Sum of the quantities
})
group32

   TotalRecords  AllRecordssum_sum_sum_qty_sold_total
0          9855                             2213104.0

In [54]:
# Combine the data frames
combined29 = pd.concat([group25, group32], axis=1)
combined29.rename(columns={'source_count': 'Target_Source_Count'}, inplace=True)

# Calculate %Missing
combined29['%DataQuality'] = 1 - (combined29['Sum_Sum_Sum_QTY_SOLD'] / combined29['AllRecordssum_sum_sum_qty_sold_total'])

# Calculate %DataQuality
combined29['%Missing'] = 1 - combined29['%DataQuality']

# Calculate KPI_Variance
def calculate_kpi_variance(data_quality):
    if data_quality >= 0.95:
        return "Green"
    elif data_quality >= 0.7:
        return "Yellow"
    else:
        return "Red"

combined29['KPI_Variance'] = combined29['%DataQuality'].apply(calculate_kpi_variance)

# Add other fields
combined29['Domain'] = 'Trade'
combined29['Dataset'] = '852 vs DNA'
combined29['Metric_Units'] = 'Qty_Sold'
combined29

,Count,Sum_Sum_Sum_QTY_SOLD,TotalRecords,AllRecordssum_sum_sum_qty_sold_total,%DataQuality,%Missing,KPI_Variance,Domain,Dataset,Metric_Units
0,9855,2213104.0,9855,2213104.0,0.0,1.0,Red,Trade,852 vs DNA,Qty_Sold

# Right Block

In [56]:
right_unjoin_df

,src_ship_from_jnr_prnt_nm,inv_dt,ndc,src_pkg_desc,sum_qty_sold,src_pack_desc
0,ACARIAHEALTH PHARMACY,2022-12-26,61958080101,LETAIRIS 5mg x 30 (BOT),2.0,NaN
1,ACARIAHEALTH PHARMACY,2022-12-26,61958080201,LETAIRIS 10mg x 30 (BOT),8.0,NaN
2,ACARIAHEALTH PHARMACY,2023-01-02,61958080101,LETAIRIS 5mg x 30 (BOT),1.0,NaN
3,ACARIAHEALTH PHARMACY,2023-01-02,61958080201,LETAIRIS 10mg x 30 (BOT),6.0,NaN
4,ACARIAHEALTH PHARMACY,2023-01-02,61958090101,CAYSTON 75mg x 84 (VIAL) SD,11.0,NaN
...,...,...,...,...,...,...
16774,WALGREENS HEALTH INITIATIVES,2024-06-10,61958080201,LETAIRIS 10mg x 30 (BOT),14.0,NaN
16775,WALGREENS HEALTH INITIATIVES,2024-06-10,61958090101,CAYSTON 75mg x 84 (VIAL) SD,27.0,NaN
16776,WALGREENS HEALTH INITIATIVES,2024-06-17,61958080101,LETAIRIS 5mg x 30 (BOT),1.0,NaN
16777,WALGREENS HEALTH INITIATIVES,2024-06-17,61958080201,LETAIRIS 10mg x 30 (BOT),8.0,NaN
16778,WALGREENS HEALTH INITIATIVES,2024-06-17,61958090101,CAYSTON 75mg x 84 (VIAL) SD,33.0,NaN

In [57]:
pd.set_option('display.float_format', '{:,.2f}'.format)
count = right_unjoin_df['src_ship_from_jnr_prnt_nm'].count()  # Count of 'Account Name' (now lowercase)
sum_sum_qty_sold_total = right_unjoin_df['sum_qty_sold'].sum()  # Sum of 'Sum_Sum_QTY_SOLD'

# Create a new DataFrame with these values
group61 = pd.DataFrame({
    'Source_Count': [count],  # Naming column 'Count' as per your required format
    'Sum_Sum_Sum_QTY_SOLD': [sum_sum_qty_sold_total]  # Sum of the quantities
})
group61

   Source_Count  Sum_Sum_Sum_QTY_SOLD
0         16779         16,197,520.77

In [58]:
# df852_final_grouped_result

In [59]:
TotalRecords = df852_final_grouped_result['src_ship_from_jnr_prnt_nm'].count()  # Count of 'Account Name' (now lowercase)
AllRecordssum_sum_sum_qty_sold_total = df852_final_grouped_result['sum_qty_sold'].sum()  # Sum of 'Sum_Sum_QTY_SOLD'

# Create a new DataFrame with these values
group66 = pd.DataFrame({
    'TotalRecords': [TotalRecords],  # Naming column 'Count' as per your required format
    'AllRecordssum_sum_sum_qty_sold_total': [AllRecordssum_sum_sum_qty_sold_total]  # Sum of the quantities
})
group66

   TotalRecords  AllRecordssum_sum_sum_qty_sold_total
0         16779                         16,197,520.77

In [60]:
# Combine the data frames
combined63 = pd.concat([group66, group61], axis=1)
combined63.rename(columns={'source_count': 'Target_Source_Count'}, inplace=True)

# Calculate %Missing
combined63['%DataQuality'] = 1 - (combined63['Sum_Sum_Sum_QTY_SOLD'] / combined63['AllRecordssum_sum_sum_qty_sold_total'])

# Calculate %DataQuality
combined63['%Missing'] = 1 - combined63['%DataQuality']

# Calculate KPI_Variance
# def calculate_kpi_variance(data_quality):
#     if data_quality >= 0.95:
#         return "Green"
#     elif data_quality >= 0.7:
#         return "Yellow"
#     else:
#         return "Red"

combined63['KPI_Variance'] = combined63['%DataQuality'].apply(calculate_kpi_variance)

# Add other fields
combined63['Domain'] = 'Trade'
combined63['Metric'] = '% Matched Accuracy Dataset 1'
combined63['Dataset'] = '852 vs DNA'
combined63['Metric_Units'] = 'Qty_Sold'
combined63

,TotalRecords,AllRecordssum_sum_sum_qty_sold_total,Source_Count,Sum_Sum_Sum_QTY_SOLD,%DataQuality,%Missing,KPI_Variance,Domain,Metric,Dataset,Metric_Units
0,16779,"16,197,520.77",16779,"16,197,520.77",0.00,1.00,Red,Trade,% Matched Accuracy Dataset 1,852 vs DNA,Qty_Sold

In [61]:
# inner_join_df

# Inner Block

In [63]:
#Change the datatype
inner_join_df['quantity_shipped'] = pd.to_numeric(inner_join_df['sum_qty_sold'], errors='coerce')
inner_join_df['Sum_Sum_QTY_SOLD'] = pd.to_numeric(inner_join_df['sum_sum_qty_sold'], errors='coerce')

In [64]:
inner_join_df

Empty DataFrame
Columns: [src_ship_from_jnr_prnt_nm, wk_strt_dt, ndc, src_pack_desc, sum_sum_qty_sold, inv_dt, src_pkg_desc, sum_qty_sold, quantity_shipped, Sum_Sum_QTY_SOLD]
Index: []

In [65]:
inner_join_df['Qty_Sold_Variance'] = inner_join_df['sum_qty_sold'] - inner_join_df['sum_sum_qty_sold']

In [66]:
filter36t = inner_join_df[inner_join_df['Qty_Sold_Variance'] == 0]
# filter_36f = inner_join_df[inner_join_df['Qty_Sold_Variance'] > 0]
filter_36f = inner_join_df[inner_join_df['Qty_Sold_Variance'] != 0]

In [67]:
count = filter_36f['src_ship_from_jnr_prnt_nm'].count()  # Count of 'Account Name' (now lowercase)
sum_sum_qty_sold_total = filter_36f['sum_qty_sold'].sum()  # Sum of 'Sum_Sum_QTY_SOLD'

# Create a new DataFrame with these values
group37 = pd.DataFrame({
    'Records_with_Discrepancies': [count],  # Naming column 'Count' as per your required format
    'Sum_Qty_Sold_Variance': [sum_sum_qty_sold_total]  # Sum of the quantities
})
group37

   Records_with_Discrepancies  Sum_Qty_Sold_Variance
0                           0                   0.00

In [68]:
inner_join_df

Empty DataFrame
Columns: [src_ship_from_jnr_prnt_nm, wk_strt_dt, ndc, src_pack_desc, sum_sum_qty_sold, inv_dt, src_pkg_desc, sum_qty_sold, quantity_shipped, Sum_Sum_QTY_SOLD, Qty_Sold_Variance]
Index: []

In [69]:
TotalRecords = inner_join_df['src_ship_from_jnr_prnt_nm'].count()  # Count of 'Account Name' (now lowercase)
sum_sum_qty_sold = inner_join_df['sum_qty_sold'].sum()  # Sum of 'Sum_Sum_QTY_SOLD'

# Create a new DataFrame with these values
group43 = pd.DataFrame({
    'TotalRecords': [TotalRecords],  # Naming column 'Count' as per your required format
    'sum_sum_qty_sold': [sum_sum_qty_sold]  # Sum of the quantities
})
group43

   TotalRecords  sum_sum_qty_sold
0             0              0.00

In [70]:
# combined44

In [71]:
import numpy as np
# Combine the data frames
combined44 = pd.concat([group37, group43], axis=1)
# combined44.rename(columns={'source_count': 'Target_Source_Count'}, inplace=True)


combined44['%VarianceOverall'] = np.where(
    combined44['Records_with_Discrepancies'] == 0, 
    0,  # If Count is 0, set to 0
    abs(combined44['Sum_Qty_Sold_Variance']) / combined44['sum_sum_qty_sold']  # Else, calculate absolute value of variance / sum
)

combined44['%DataQuality'] = 1 - combined44['%VarianceOverall']

# Calculate KPI_Variance
# def calculate_kpi_variance(data_quality):
#     if data_quality >= 0.95:
#         return "Green"
#     elif data_quality >= 0.7:
#         return "Yellow"
#     else:
#         return "Red"

combined44['KPI_Variance'] = combined44['%DataQuality'].apply(calculate_kpi_variance)

# Add other fields
combined44['Domain'] = 'Trade'
combined44['Metric'] = '% Accuracy Matched Records'
combined44['Dataset'] = '852 vs DNA'
combined44['Metric_Units'] = 'Qty_Sold'
combined44

,Records_with_Discrepancies,Sum_Qty_Sold_Variance,TotalRecords,sum_sum_qty_sold,%VarianceOverall,%DataQuality,KPI_Variance,Domain,Metric,Dataset,Metric_Units
0,0,0.00,0,0.00,0.00,1.00,Green,Trade,% Accuracy Matched Records,852 vs DNA,Qty_Sold

# 1

In [73]:
combined29

,Count,Sum_Sum_Sum_QTY_SOLD,TotalRecords,AllRecordssum_sum_sum_qty_sold_total,%DataQuality,%Missing,KPI_Variance,Domain,Dataset,Metric_Units
0,9855,"2,213,104.00",9855,"2,213,104.00",0.00,1.00,Red,Trade,852 vs DNA,Qty_Sold

In [74]:
left_unjoin_df

,src_ship_from_jnr_prnt_nm,wk_strt_dt,ndc,src_pack_desc,sum_sum_qty_sold,src_pkg_desc
0,WALGREENS HEALTH INITIATIVES,2024-08-19,61958090101,"CAYSTON,SOLN INH,75MG/ML,1MLX84 0901-01 28 DAY",18.00,NaN
1,BORSCHOW,2024-08-19,61958190101,"GENVOYA,TAB FC,150-150-200-10MG,30 1901-01",8.00,NaN
2,KINRAY,2024-08-19,61958070101,"TRUVADA,TAB FC,200-300MG,5 0701",3.00,NaN
3,MORRIS & DICKSON LLC,2024-08-19,61958250101,"BIKTARVY, TAB FC, 50-200-25MG, 30 2501-01",126.00,NaN
4,"MCKESSON PLASMA AND BIOLOGICS (LA VERGNE, TN)",2024-08-19,55135013201,Trodelvy Vial,304.00,NaN
...,...,...,...,...,...,...
9850,CARDINAL HEALTH,2023-01-02,61958140101,"TYBOST,TAB FC,150MG,30 1401-01",1.00,NaN
9851,CARDINAL HEALTH,2023-01-02,61958180101,"HARVONI,TAB FC,90-400MG,28 1801-01",3.00,NaN
9852,CARDINAL HEALTH,2023-01-02,61958190101,"GENVOYA,TAB FC,150-150-200-10MG,30 1901-01",850.00,NaN
9853,CARDINAL HEALTH,2023-01-02,61958200201,"DESCOVY,TAB FC,200MG-25MG,30 2002-01","1,723.00",NaN
9854,KINRAY,2023-01-02,61958200201,"DESCOVY,TAB FC,200MG-25MG,30 2002-01",39.00,NaN

In [75]:
# formula94.head(1)

In [76]:

# Repeat the left_unjoin_df dataframe to match the number of rows in combined_left
combined_left_repeat = pd.concat([left_unjoin_df] * len(combined29), ignore_index=True)

# Concatenate the two dataframes
formula94 = pd.concat([combined_left_repeat, combined29], axis=1)

# Adding additional fields
formula94['Status'] = "Present in DNA only"
formula94['DQM_Run_Dt'] = pd.to_datetime(datetime.now())
formula94['SUM_QTY_SOLD_852'] = 0  # As per the second image

# Ensure indices are reset and aligned for the operation
formula94 = formula94.reset_index(drop=True)

# Now perform the subtraction for 'Qty_Sold_Variance'
formula94['Qty_Sold_Variance'] = formula94['SUM_QTY_SOLD_852'] - formula94['sum_sum_qty_sold']

# Select only the required columns for the final output
select98 = [
    'ndc', 'DQM_Run_Dt', 'sum_sum_qty_sold', 'wk_strt_dt', 
    'src_ship_from_jnr_prnt_nm', 'Status', 'SUM_QTY_SOLD_852', 'Qty_Sold_Variance'
]

# Filter the dataframe to only keep these columns
formula94 = formula94[select98]

formula94.rename(columns={'sum_sum_qty_sold':'SUM_QTY_SOLD_DNA' ,
                          'wk_strt_dt':'Week_Start_Date'
                          }, inplace=True)

formula94

,ndc,DQM_Run_Dt,SUM_QTY_SOLD_DNA,Week_Start_Date,src_ship_from_jnr_prnt_nm,Status,SUM_QTY_SOLD_852,Qty_Sold_Variance
0,61958090101,2024-09-26 16:24:05.295001,18.00,2024-08-19,WALGREENS HEALTH INITIATIVES,Present in DNA only,0,-18.00
1,61958190101,2024-09-26 16:24:05.295001,8.00,2024-08-19,BORSCHOW,Present in DNA only,0,-8.00
2,61958070101,2024-09-26 16:24:05.295001,3.00,2024-08-19,KINRAY,Present in DNA only,0,-3.00
3,61958250101,2024-09-26 16:24:05.295001,126.00,2024-08-19,MORRIS & DICKSON LLC,Present in DNA only,0,-126.00
4,55135013201,2024-09-26 16:24:05.295001,304.00,2024-08-19,"MCKESSON PLASMA AND BIOLOGICS (LA VERGNE, TN)",Present in DNA only,0,-304.00
...,...,...,...,...,...,...,...,...
9850,61958140101,2024-09-26 16:24:05.295001,1.00,2023-01-02,CARDINAL HEALTH,Present in DNA only,0,-1.00
9851,61958180101,2024-09-26 16:24:05.295001,3.00,2023-01-02,CARDINAL HEALTH,Present in DNA only,0,-3.00
9852,61958190101,2024-09-26 16:24:05.295001,850.00,2023-01-02,CARDINAL HEALTH,Present in DNA only,0,-850.00
9853,61958200201,2024-09-26 16:24:05.295001,"1,723.00",2023-01-02,CARDINAL HEALTH,Present in DNA only,0,"-1,723.00"
9854,61958200201,2024-09-26 16:24:05.295001,39.00,2023-01-02,KINRAY,Present in DNA only,0,-39.00

# 2

In [78]:
formula95=filter36t
formula95

Empty DataFrame
Columns: [src_ship_from_jnr_prnt_nm, wk_strt_dt, ndc, src_pack_desc, sum_sum_qty_sold, inv_dt, src_pkg_desc, sum_qty_sold, quantity_shipped, Sum_Sum_QTY_SOLD, Qty_Sold_Variance]
Index: []

In [79]:
# Add the 'Status' field with the value "Data in Sync"
formula95['Status'] = "Data in Sync"

# Add the 'DQM_Run_Dt' field with the current datetime
formula95['DQM_Run_Dt'] = pd.Timestamp.now()

# Select only the columns that are checked
select99 = [
    'sum_sum_qty_sold',
    'wk_strt_dt',
    'src_ship_from_jnr_prnt_nm',
    'ndc',
    'src_pack_desc',
    'sum_qty_sold',
    'Qty_Sold_Variance',
    'Status',
    'DQM_Run_Dt'
]

# Filter the dataframe to only include the selected columns
formula95 = formula95[select99]

# Rename the columns as specified
formula95 = formula95.rename(columns={
    'Sum_Sum_QTY_SOLD': 'Sum_QTY_Sold_DNA',
    'Week Start Date': 'Week_Start_Date',
    'sum_qty_sold': 'sum_qty_sold_852',
    'ndc': 'ndc'
    # ,
    # 'quantity_shipped': 'Sum_QTY_Sold_SP'
    # # 'Status' and 'DQM_Run_Dt' remain unchanged
})
formula95

Empty DataFrame
Columns: [sum_sum_qty_sold, wk_strt_dt, src_ship_from_jnr_prnt_nm, ndc, src_pack_desc, sum_qty_sold_852, Qty_Sold_Variance, Status, DQM_Run_Dt]
Index: []

# 3

In [81]:
combined44

,Records_with_Discrepancies,Sum_Qty_Sold_Variance,TotalRecords,sum_sum_qty_sold,%VarianceOverall,%DataQuality,KPI_Variance,Domain,Metric,Dataset,Metric_Units
0,0,0.00,0,0.00,0.00,1.00,Green,Trade,% Accuracy Matched Records,852 vs DNA,Qty_Sold

In [82]:
filter_36f

Empty DataFrame
Columns: [src_ship_from_jnr_prnt_nm, wk_strt_dt, ndc, src_pack_desc, sum_sum_qty_sold, inv_dt, src_pkg_desc, sum_qty_sold, quantity_shipped, Sum_Sum_QTY_SOLD, Qty_Sold_Variance]
Index: []

In [127]:
# formula131 = formula94.reset_index(drop=True)
filter_36f = filter_36f.drop('sum_sum_qty_sold', axis=1)

In [131]:

# Repeat the left_unjoin_df dataframe to match the number of rows in combined_left
combined_left_repeat = pd.concat([filter_36f] * len(combined44), ignore_index=True)

# Concatenate the two dataframes
formula131 = pd.concat([combined_left_repeat, combined44], axis=1)

# Adding additional fields
formula131['Status'] = "Qty Variance"
formula131['DQM_Run_Dt'] = pd.to_datetime(datetime.now())
# formula131['SUM_QTY_SOLD_852'] = 0  # As per the second image

# Ensure indices are reset and aligned for the operation
formula131 = formula131.reset_index(drop=True)

# Now perform the subtraction for 'Qty_Sold_Variance'
# formula131['Qty_Sold_Variance'] = formula131['SUM_QTY_SOLD_852'] - formula131['sum_sum_qty_sold']

# Select only the required columns for the final output
select132 = [
    'ndc', 'DQM_Run_Dt', 'sum_sum_qty_sold', 'wk_strt_dt', 
    'src_ship_from_jnr_prnt_nm', 'Status'
]

# Filter the dataframe to only keep these columns
formula131 = formula131[select132]

# formula131.rename(columns={'sum_sum_qty_sold':'SUM_QTY_SOLD_DNA' ,
#                           'wk_strt_dt':'Week_Start_Date'
#                           }, inplace=True)

formula131

,ndc,DQM_Run_Dt,sum_sum_qty_sold,wk_strt_dt,src_ship_from_jnr_prnt_nm,Status
0,NaN,2024-09-26 17:11:01.530940,0.00,NaT,NaN,Qty Variance

# 4

In [133]:
combined63

,TotalRecords,AllRecordssum_sum_sum_qty_sold_total,Source_Count,Sum_Sum_Sum_QTY_SOLD,%DataQuality,%Missing,KPI_Variance,Domain,Metric,Dataset,Metric_Units
0,16779,"16,197,520.77",16779,"16,197,520.77",0.00,1.00,Red,Trade,% Matched Accuracy Dataset 1,852 vs DNA,Qty_Sold

In [134]:
# formula135

In [135]:
# Repeat the left_unjoin_df dataframe to match the number of rows in combined_left
combined_left_repeat = pd.concat([right_unjoin_df] * len(combined63), ignore_index=True)

# Concatenate the two dataframes
formula135 = pd.concat([combined_left_repeat, combined63], axis=1)

# Adding additional fields
formula135['Status'] = "Present in 852 only"
formula135['DQM_Run_Dt'] = pd.to_datetime(datetime.now())
formula135['SUM_QTY_SOLD_DNA'] = 0  # As per the second image

# Ensure indices are reset and aligned for the operation
formula135 = formula135.reset_index(drop=True)

# Now perform the subtraction for 'Qty_Sold_Variance'
formula135['Qty_Sold_Variance'] = formula135['sum_qty_sold'] - formula135['SUM_QTY_SOLD_DNA']

# Filter the dataframe to only keep these columns
formula135 = formula135[['DQM_Run_Dt', 'src_ship_from_jnr_prnt_nm', 'ndc', 'inv_dt', 
                         'sum_qty_sold', 'Status', 'SUM_QTY_SOLD_DNA', 'Qty_Sold_Variance']]

# Rename the columns as per the provided image
formula135.rename(columns={
    'INV_DT': 'Week_Start_Date',
    'sum_qty_sold': 'SUM_QTY_SOLD_852'
}, inplace=True)

formula135

,DQM_Run_Dt,src_ship_from_jnr_prnt_nm,ndc,inv_dt,SUM_QTY_SOLD_852,Status,SUM_QTY_SOLD_DNA,Qty_Sold_Variance
0,2024-09-26 17:11:01.644235,ACARIAHEALTH PHARMACY,61958080101,2022-12-26,2.00,Present in 852 only,0,2.00
1,2024-09-26 17:11:01.644235,ACARIAHEALTH PHARMACY,61958080201,2022-12-26,8.00,Present in 852 only,0,8.00
2,2024-09-26 17:11:01.644235,ACARIAHEALTH PHARMACY,61958080101,2023-01-02,1.00,Present in 852 only,0,1.00
3,2024-09-26 17:11:01.644235,ACARIAHEALTH PHARMACY,61958080201,2023-01-02,6.00,Present in 852 only,0,6.00
4,2024-09-26 17:11:01.644235,ACARIAHEALTH PHARMACY,61958090101,2023-01-02,11.00,Present in 852 only,0,11.00
...,...,...,...,...,...,...,...,...
16774,2024-09-26 17:11:01.644235,WALGREENS HEALTH INITIATIVES,61958080201,2024-06-10,14.00,Present in 852 only,0,14.00
16775,2024-09-26 17:11:01.644235,WALGREENS HEALTH INITIATIVES,61958090101,2024-06-10,27.00,Present in 852 only,0,27.00
16776,2024-09-26 17:11:01.644235,WALGREENS HEALTH INITIATIVES,61958080101,2024-06-17,1.00,Present in 852 only,0,1.00
16777,2024-09-26 17:11:01.644235,WALGREENS HEALTH INITIATIVES,61958080201,2024-06-17,8.00,Present in 852 only,0,8.00
16778,2024-09-26 17:11:01.644235,WALGREENS HEALTH INITIATIVES,61958090101,2024-06-17,33.00,Present in 852 only,0,33.00

# Union 137

In [137]:
formula131

,ndc,DQM_Run_Dt,sum_sum_qty_sold,wk_strt_dt,src_ship_from_jnr_prnt_nm,Status
0,NaN,2024-09-26 17:11:01.530940,0.00,NaT,NaN,Qty Variance

In [138]:
# Display column names for each dataframe
print("Columns in formula135:")
print(formula135.columns)

print("\nColumns in formula131:")
print(formula131.columns)

print("\nColumns in formula95:")
print(formula95.columns)

print("\nColumns in formula94:")
print(formula94.columns)

Columns in formula135:
Index(['DQM_Run_Dt', 'src_ship_from_jnr_prnt_nm', 'ndc', 'inv_dt',
       'SUM_QTY_SOLD_852', 'Status', 'SUM_QTY_SOLD_DNA', 'Qty_Sold_Variance'],
      dtype='object')

Columns in formula131:
Index(['ndc', 'DQM_Run_Dt', 'sum_sum_qty_sold', 'wk_strt_dt',
       'src_ship_from_jnr_prnt_nm', 'Status'],
      dtype='object')

Columns in formula95:
Index(['sum_sum_qty_sold', 'wk_strt_dt', 'src_ship_from_jnr_prnt_nm', 'ndc',
       'src_pack_desc', 'sum_qty_sold_852', 'Qty_Sold_Variance', 'Status',
       'DQM_Run_Dt'],
      dtype='object')

Columns in formula94:
Index(['ndc', 'DQM_Run_Dt', 'SUM_QTY_SOLD_DNA', 'Week_Start_Date',
       'src_ship_from_jnr_prnt_nm', 'Status', 'SUM_QTY_SOLD_852',
       'Qty_Sold_Variance'],
      dtype='object')

In [139]:
union137 = pd.concat([formula135, formula131, formula95,formula94], axis=0, ignore_index=True)
#union137['DQM_Run_Dt'] = pd.Timestamp.now()
union137

In [150]:
record_count = union137.shape[0]
print(f"Number of records in union137: {record_count}")

Number of records in union137: 26635

# Union87

In [160]:
union87 = pd.concat([combined44, combined63, combined29]).drop_duplicates()
union87

,Records_with_Discrepancies,Sum_Qty_Sold_Variance,TotalRecords,sum_sum_qty_sold,%VarianceOverall,%DataQuality,KPI_Variance,Domain,Metric,Dataset,Metric_Units,AllRecordssum_sum_sum_qty_sold_total,Source_Count,Sum_Sum_Sum_QTY_SOLD,%Missing,Count
0,0.00,0.00,0,0.00,0.00,1.00,Green,Trade,% Accuracy Matched Records,852 vs DNA,Qty_Sold,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,16779,NaN,NaN,0.00,Red,Trade,% Matched Accuracy Dataset 1,852 vs DNA,Qty_Sold,"16,197,520.77","16,779.00","16,197,520.77",1.00,NaN
0,NaN,NaN,9855,NaN,NaN,0.00,Red,Trade,NaN,852 vs DNA,Qty_Sold,"2,213,104.00",NaN,"2,213,104.00",1.00,"9,855.00"